<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"></meta>
</head>
<body>
<table style="border-collapse: collapse; width: 100%; font-family: Arial, Helvetica, sans-serif;">
    <thead>
    <tr style="background-color: blue; color: white; font-weight: bold; text-align: center;">
        <th colspan="4" style="padding: 10px;">
                <span th:text="${recordList[0].project.description + ' - ' + recordList[0].user.name}"
                      style="font-size: 18px;"></span>
        </th>
    </tr>
    <tr style="background-color: blue; color: white; text-align: center;">
        <th style="padding: 10px; border: 1px solid black;">FECHA</th>
        <th style="padding: 10px; border: 1px solid black;">CANT. HS</th>
        <th style="padding: 10px; border: 1px solid black;">PROYECTO</th>
        <th style="padding: 10px; border: 1px solid black;">DESCRIPCION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${recordList}"
        style="text-align: center;">
        <td style="padding: 10px; border: 1px solid black;" th:text="${record.date}"></td>
        <td style="padding: 10px; border: 1px solid black;" th:text="${record.hours}"></td>
        <td style="padding: 10px; border: 1px solid black;" th:text="${record.project.name}"></td>
        <td style="padding: 10px; border: 1px solid black;" th:text="${record.description}"></td>
    </tr>
    <tr style="background-color: blue; color: white; font-weight: bold; text-align: center;">
        <td style="padding: 10px; border: 1px solid black;"></td>
        <td style="padding: 10px; border: 1px solid black;"></td>
        <td style="padding: 10px; border: 1px solid black;"></td>
        <td style="padding: 10px; border: 1px solid black;">
<!--                <span th:text="'Horas trabajadas: ' + #numbers.formatDecimal(#lists.sum(recordList.![hours]))" style="font-size: 18px;"></span>-->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
